<div th:replace="shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Cadastro de Produto</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Novo Produto:</h6>
        </div>
        <div class="card-body">
            <form class="row g-3" action="/produto/cadastrarProduto" method="post" onsubmit="alert('Cadastrado com sucesso!')">
                <div class="col-md-6">
                    <label for="club" class="form-label">Clube</label>
                    <input type="text" class="form-control" id="club" name="club" placeholder="Clube">
                </div>
                <div class="col-md-6">
                    <label for="size" class="form-label">Tamanho</label>
                    <input type="text" class="form-control" id="size" name="size" placeholder="Tamanho">
                </div>
                <div class="col-md-6">
                    <label for="qtd" class="form-label">Quantidade</label>
                    <input type="text" class="form-control" id="qtd" name="qtd" placeholder="Quantidade">
                </div>
                <div class="col-md-6">
                    <label for="price" class="form-label">Preço</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="Preço">
                </div>
                <div class="col-md-6">
                    <label for="description" class="form-label">Descrição</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Descrição">
                </div>
                <div class="col-md-6">
                    <label for="imagem" class="form-label">Imagem</label>
                    <input type="text" class="form-control" id="imagem" name="imagem" placeholder="Endereço de Imagem">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="shared/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>
