<div th:replace="shared/header"  xmlns:th="http://www.w3.org/1999/xhtml"></div>
<main>
    <section>
        <h2>Camisas</h2>

        <div th:each="item:${produtos}" class="product" xmlns:th="http://www.w3.org/1999/xhtml">
            <img th:src="@{${item.imagem}}" alt="img produto"  height="500px" width="500px"/>
            <h3 th:text="${item.description}"></h3>
            <p><s>- R$ 250,00</s> <span th:text="${item.price}"></span></p>
            <button type="submit">Comprar</button>
        </div>

    </section>
</main>
<div th:replace="shared/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>
