<div th:replace="shared/header" xmlns:th="http://www.w3.org/1999/xhtml" ></div>
<body>
<h1>Cadastro de Camisa</h1>
<form th:action="@{/produto/cadastro}" method="post" enctype="multipart/form-data" xmlns:th="http://www.w3.org/1999/xhtml">
    <label for="name">Clube:</label>
    <input type="text" id="name" name="club" required>

    <label for="precoCamisa">Preço:</label>
    <input type="number" id="precoCamisa" name="price" required>

    <label for="tamanhoCamisa">Tamanho:</label>
    <input type="text" id="tamanhoCamisa" name="size" required>

    <label for="qtd">Quantidade:</label>
    <input type="number" id="qtd" name="qtd" required>

    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="description"></textarea>

    <label for="imagem">Imagem do Produto:</label>
    <input type="file" id="imagem" name="imagem" accept="image/*">

    <input type="submit" value="Cadastrar">
</form>
</body>
<div th:replace="shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>