<footer>
    <section>
        <h2 class="title-contato">Contato</h2>

        <div class="contato">
            <a href="https://www.instagram.com/seu_perfil_instagram" target="_blank">
                <img class="instagram" src="img/instagram.png" width="10%" alt="iconeinstagram">
            </a>
            <a href="https://www.facebook.com/seu_perfil_facebook" target="_blank">
                <img class="facebook" src="img/logo-do-facebook.png" width="10%" alt="iconefacebook">
            </a>
            <a href="https://api.whatsapp.com/send?phone=seu_numero_de_telefone" target="_blank">
                <img class="Whatsapp" src="img/whatsapp.png" width="10%" alt="iconeWhatsapp">
            </a>
        </div>
    </section>
    <p>&copy; 2023 FutBoutique. Todos os direitos reservados.</p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
