        <footer>
            <section>
                <h2 class="title-contato">Contato</h2>

                <div class="contato">
                    <a href="https://www.instagram.com/samuel_dsj" target="_blank">
                        <img class="instagram" src="img/instagram.png" width="10%" alt="iconeinstagram">
                    </a>
                    <a href="https://wa.link/wvb9f3" target="_blank">
                        <img class="Whatsapp" src="img/whatsapp.png" width="10%" alt="iconeWhatsapp">
                    </a>
                </div>
            </section>
            <p>&copy; 2023 FutBoutique. Todos os direitos reservados.</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </body>

</html>
